.screen {
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px;
  overflow: hidden;
}

#taoster-in-screen {
  position: absolute;
  bottom: 32px;
  right: 16px;
  border: 1px solid rgba(0, 0, 0, .1);
  height: calc(100% - 64px);
  width: 300px;
  border-radius: 4px;
  justify-content: flex-end;
  overflow: hidden;
}